<div class="task-list-container">
  <div class="header-section">
    <div class="filter-section">
      <label for="statusFilter">Filter by Status:</label>
      <select id="statusFilter" (change)="onStatusFilterChange($event)">
        <option value="">All</option>
        @for (status of statuses(); track status.name) {
          <option [value]="status.name">{{ status.name }}</option>
        }
      </select>
    </div>
    <button class="create-task-button" (click)="openCreateTaskModal()">Create New Task</button>
  </div>

  <app-list-table
    [title]="'Tasks'"
    [data]="filteredTasks()"
    [columns]="taskColumns"
    (add)="openCreateTaskModal()"
    (edit)="openEditTaskModal($event)"
    (delete)="deleteTask($event)"
    (view)="onViewTask($event)"
  >
  </app-list-table>

  <ng-template #assignedToTemplate let-element>
    {{ getAssignedUsersNames(element.assignedTo) }}
  </ng-template>

  <n-modal #taskModal [title]="currentFormMode() === 'add' ? 'Create Task' : (currentFormMode() === 'edit' ? 'Edit Task' : 'View Task')" (closed)="onModalClose()">
    <app-task-form [task]="selectedTask" [isViewMode]="currentFormMode() === 'view'" (submitForm)="handleTaskFormSubmit($event)"></app-task-form>
  </n-modal>
</div>