<div class="kanban-view-container">
  <div class="header-section">
    <div class="filter-section">
      <label for="organizeBy">Organize By:</label>
      <select id="organizeBy" (change)="onOrganizeByChange($event)">
        <option value="status">Status</option>
        <option value="user">Users</option>
      </select>
    </div>
    <button class="create-task-button" (click)="openCreateTaskModal()">Create New Task</button>
  </div>
  <div class="kanban-board">
    @for (column of columns; track column.title) {
      <app-kanban-column
        [title]="column.title"
        [tasks]="column.tasks"
        [sortableOptions]="sortableOptions"
        (editTask)="openEditTaskModal($event)"
        (deleteTask)="deleteTask($event)">
      </app-kanban-column>
    }
  </div>
</div>

<n-modal #taskModal [title]="selectedTask ? 'Edit Task' : 'Create Task'" (closed)="onModalClose()">
  @if (showTaskForm()) {
    <app-task-form [task]="selectedTask" (submitForm)="handleTaskFormSubmit($event)"></app-task-form>
  }
</n-modal>